<!DOCTYPE html>
<html>
<head>
  <title>ControllerExercise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <%= link_to "tam's blog", "http://alliknowisnothing.com" %>
  <%= link_to "Users", users_path %>
  <%= link_to "Products", products_path %>
  <p><%= "params: " + params.inspect.to_s %></p> 
  </header>
<%= yield %>

</body>
</html>
